# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Data and Artifacts
# financial_documents/ <--- Commented out to allow upload to GitHub for Deployment
faiss_financial_index/
.DS_Store

# IDEs
.vscode/
.idea/

# Environment Variables
.env
